.DS_Store
./qiankun-base/node_modules
./qiankun-sub-vue2/node_modules
./qiankun-base/dist
./qiankun-sub-vue2/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
